#create{
    width: 120px;
    height: 40px;
    color: white;
    margin-left: 250px;
    font-size: large;
    border-radius: 7px;
}
#bruuuh{
    margin-left: 250px;
}
#delete{
    margin-left: 8px;
}